<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Algun pata</mat-card-title>
      <mat-card-subtitle>Pata q no hace nda</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../.././../../assets/images/profile_image_004.jpg"
      alt="Photo of Lucas"
    />
    <mat-card-content>
      <p>zzz...</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Lucas Ruiz</mat-card-title>
      <mat-card-subtitle>Software Engineer</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../.././../../assets/images/profile_image_002.jpg"
      alt="Photo of Lucas"
    />
    <mat-card-content>
      <p>
        I'm currently a university student studying software engineering. I am
        in the 6th semester of my career and I am passionate about coding in all
        its forms. My favorite hobbies are riding my bike and watching movies or
        animes.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Otro pata</mat-card-title>
      <mat-card-subtitle>Pata q no hace nda</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../.././../../assets/images/profile_image_003.jpg"
      alt="Photo of Lucas"
    />
    <mat-card-content>
      <p>zzz...</p>
    </mat-card-content>
  </mat-card>
</div>
