<form class="example-form">
  <div class="container">
    <div class="flex"><h2>Enter your Ingredient 🧑‍🍳</h2></div>
    <div class="flex">
      <mat-form-field class="example-full-width">
        <mat-label>Recipe</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Recipe"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="autoRecipe"
        />
        <mat-autocomplete autoActiveFirstOption #autoRecipe="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-chip-list">
        <mat-label>Disliked Ingredients</mat-label>
        <mat-chip-grid #chipGrid aria-label="Ingredient selection">
          <mat-chip-row
            *ngFor="let ingredient of ingredients"
            (removed)="remove(ingredient)"
          >
            {{ ingredient }}
            <button matChipRemove [attr.aria-label]="'remove ' + ingredient">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          placeholder="New Ingredient..."
          #ingredientInput
          [formControl]="ingredientCtrl"
          [matChipInputFor]="chipGrid"
          [matAutocomplete]="autoIngredients"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
        <mat-autocomplete
          #autoIngredients="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option
            *ngFor="let ingredient of filteredIngredients | async"
            [value]="ingredient"
          >
            {{ ingredient }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="flex">
      <button mat-raised-button color="primary">Find</button>
    </div>
  </div>
  <div class="container">
    <div class="flex">
      <h2>Results 🧑‍🍳</h2>
    </div>
    <div class="flex">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Spaghetti Bolognese</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Chicken Alfredo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Spaghetti Bolognese</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Chicken Alfredo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
