<form class="example-form">
  <div class="container">
    <div class="flex"><h2>Enter your Ingredient 🧑‍🍳</h2></div>
    <div class="flex overflow-y">
      <div class="flex-son">
        <mat-form-field class="example-full-width">
          <mat-label>Recipe</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Recipe"
            matInput
            [formControl]="recipeControl"
            [matAutocomplete]="autoRecipe"
          />
          <mat-autocomplete autoActiveFirstOption #autoRecipe="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="flex-son">
        <mat-form-field class="example-chip-list">
          <mat-label>Disliked Ingredients</mat-label>
          <mat-chip-grid #chipGrid aria-label="Ingredient selection">
            <mat-chip-row
              *ngFor="let ingredient of ingredients"
              (removed)="remove(ingredient)"
            >
              {{ ingredient }}
              <button matChipRemove [attr.aria-label]="'remove ' + ingredient">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input
            placeholder="New Ingredient..."
            #ingredientInput
            [formControl]="ingredientCtrl"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="autoIngredients"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />
          <mat-autocomplete
            #autoIngredients="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option
              *ngFor="let ingredient of filteredIngredients | async"
              [value]="ingredient"
            >
              {{ ingredient }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="div-center">
      <div class="overflow-auto">
        <div class="flex">
          <div class="flex-son">
            <mat-form-field floatLabel="always">
              <mat-label>Maximun Price</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [formControl]="maxPriceControl"
              />
              <span matTextPrefix>$&nbsp;</span>
              <span matTextSuffix>.00</span>
            </mat-form-field>
          </div>
          <div class="flex-son">
            <mat-form-field floatLabel="always">
              <mat-label>Minimun Price</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [formControl]="minPriceControl"
              />
              <span matTextPrefix>$&nbsp;</span>
              <span matTextSuffix>.00</span>
            </mat-form-field>
          </div>
        </div>
        <div class="flex">
          <div class="flex-son">
            <mat-form-field floatLabel="always">
              <mat-label>Maximun Calories</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [formControl]="maxCaloriesControl"
              />
              <span matTextSuffix>cal</span>
            </mat-form-field>
          </div>
          <div class="flex-son">
            <mat-form-field floatLabel="always">
              <mat-label>Minimun Calories</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [formControl]="minCaloriesControl"
              />
              <span matTextSuffix>cal</span>
            </mat-form-field>
          </div>
        </div>
        <div class="flex">
          <div class="flex-son">
            <mat-form-field floatLabel="always">
              <mat-label>Maximun Carbohydrates</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [formControl]="maxCarbohydratesControl"
              />
              <span matTextSuffix>g</span>
            </mat-form-field>
          </div>
          <div class="flex-son">
            <mat-form-field floatLabel="always">
              <mat-label>Minimun Carbohydrates</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [formControl]="minCarbohydratesControl"
              />
              <span matTextSuffix>g</span>
            </mat-form-field>
          </div>
        </div>
        <div class="flex">
          <div class="flex-son">
            <mat-form-field floatLabel="always">
              <mat-label>Maximun Protein</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [formControl]="maxProteinControl"
              />
              <span matTextSuffix>g</span>
            </mat-form-field>
          </div>
          <div class="flex-son">
            <mat-form-field floatLabel="always">
              <mat-label>Minimun Protein</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [formControl]="minProteinControl"
              />
              <span matTextSuffix>g</span>
            </mat-form-field>
          </div>
        </div>
        <div class="flex">
          <div class="flex-son">
            <mat-form-field floatLabel="always">
              <mat-label>Maximun Fat</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [formControl]="maxFatControl"
              />
              <span matTextSuffix>g</span>
            </mat-form-field>
          </div>
          <div class="flex-son">
            <mat-form-field floatLabel="always">
              <mat-label>Minimun Fat</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [formControl]="minFatControl"
              />
              <span matTextSuffix>g</span>
            </mat-form-field>
          </div>
        </div>
        <div class="flex">
          <div class="flex-son">
            <mat-form-field floatLabel="always">
              <mat-label>Maximun Sugar</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [formControl]="maxSugarControl"
              />
              <span matTextSuffix>g</span>
            </mat-form-field>
          </div>
          <div class="flex-son">
            <mat-form-field floatLabel="always">
              <mat-label>Minimun Sugar</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [formControl]="minSugarControl"
              />
              <span matTextSuffix>g</span>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="flex">
      <button
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
        [disabled]="loading"
      >
        Find
      </button>
      <button mat-raised-button color="primary" (click)="resetForm()">
        Reset
      </button>
      <button mat-raised-button color="primary" (click)="showGraph()">
        Graph
      </button>
    </div>
  </div>

  <div class="container scrollable-section">
    <div class="flex">
      <h2>Results 🧑‍🍳</h2>
    </div>
    <div class="flex" *ngIf="loading">
      <img src="../../../../assets/gifs/loading.gif" alt="loading icon gif" />
    </div>
    <div class="flex" *ngIf="!hidden">
      <mat-card *ngFor="let recipe of responseRecipes" class="example-card">
        <img mat-card-image src="{{ recipe.thumbnail_url }}" alt="" />
        <mat-card-header>
          <mat-card-title>{{ recipe.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex">
            <button
              mat-raised-button
              color="primary"
              (click)="openRecipeCard(recipe)"
            >
              Details
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
